.wrapper{
    width: 100%;
}

.institutionContent{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #BDDFC2;
    border-radius: 20px;
    border: solid 1px #c0c0c0;
}

.institutionsName{
    margin: 20px;
    padding: 20px;
    background-color: white;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    cursor: hand;
}

.institutionsName:hover{
    background-color: #f4f2f2;
}

.address{
    margin: 20px;
    background-color: white;
    width: 880px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0.5rem;
    word-wrap: break-word;
    border: none;
    outline: none;
}