@charset "utf-8";

.wrapper {
    width: 100%;
    margin: 0%;
    position: relative;
}

.content {
    width: 90%;
    margin-left: 5%;
}

.registerBox {
    text-align: center;
}

.want {
    width: 80%;
    margin-left: 10%;
    margin-top: 35px;
}

label {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}


input {
    font-size: 2.5rem;
    width: 60%;
    height: 70px;
    margin-right: 0%;
    border-radius: 10px;
}

select{
    width: 100%;
    font-size: 2.5rem;
    height: 70px;
    margin-right: 0%;
    border-radius: 10px;
    border: 2px solid #767676;
}

.pull{
    width: 60%;
}

select:invalid { color: #757575; }
select option { color: black; }
select option:first-child { color: #757575; }

.send {
    margin-top: 35px;
    width: 30%;
    margin-bottom: 100px;
    background-color: #BDDFC2;
    cursor: pointer;
    cursor: hand;
}

form {
    margin: 0;
}

.text-danger{
    color: red;
}

.back{
    position: absolute;
    right:50px;
    bottom:20px;
    font-size: 30px;
}

.backButton{
    margin: 20px;
    background-color: #C6A371;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    cursor: hand;
}

.backButton:hover{
    background-color: rgb(168, 127, 74);
}